body
{
background-color: #10223f;
}

.title
{
font-family: headerfont;
color: black;
font-size:50px;
position: relative;

}

 @font-face {
  font-family: headerfont;
    src: url(headf.ttf);
}
hr
{
	border-color: grey;
}

label
{
	font-size: 18px;
	position:relative;
	top:5px;
	color: black;
}
